@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --light-blue: #688ce8;
  --dark-blue: #10141b;
  --dark-grey: #1b212c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.banner {
  background-image: url(/img/pcsbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/*              per desktop             */
@media screen and (min-width: 577px) {
  .logo img {
    width: 100px;
    height: 100px;
  }
  .fa-bars {
    display: none;
  }
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    height: 100px;
    position: fixed;
    z-index: 5;
  }
  .navbar li {
    display: inline-block;
    margin: 20px;
  }
  ul {
    margin-left: 190px;
  }
  li a {
    color: white;
    text-decoration: none;
    transition: all 300ms;
  }
  .ul-navbar:hover a {
    color: #575757 !important;
  }
  .ul-navbar:hover a:hover {
    color: var(--light-blue) !important;
  }
  .sections {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  section {
    margin-top: 250px;
  }
  section h1 {
    width: 500px !important;
    font-size: 30px;
    animation: typing 3s steps(12) infinite alternate-reverse;
  }
  @keyframes typing {
    from {
      width: 0ch;
    }
    to {
      width: 10ch;
    }
  }
  .sections i {
    font-size: 100px;
    color: white;
    margin-right: 20px;
  }
  .sections i:hover {
    opacity: 0.6;
  }
  /*           services per desktop        */
  #main-services {
    display: grid;
    padding: 30px;
    background-color: var(--dark-blue);
    grid-template-columns: repeat(4, 1fr);
  }
  /*         main per desktop         */
  #main-about {
    background-color: var(--dark-grey);
    display: grid;
    overflow: hidden;
    grid-template-columns: 130px 500px 100%;
    grid-template-rows: 30px 0px 100px 500px;
  }

  .carousel {
    display: flex;
    width: 1300px !important;
    height: 300px;
    justify-content: flex-end;
    flex-direction: row;
    grid-row: 4/5;
    margin-left: 230px;
  }
  .carousel-content {
    display: flex;
    flex-direction: row;
  }
  .carousel-content {
    scroll-snap-type: x proximity;
    overflow: auto;
    display: flex;
    width: 1000px;
    gap: 30px;
    height: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .carousel .item {
    scroll-snap-align: start;
  }
  .item img {
    width: 1200px;
    height: 379px;
    object-fit: cover;
  }
  .about-paragraft1,
  .about-paragraft2 {
    margin-top: 30px;
    margin-left: 60px;
  }
  .about-paragraft2 {
    width: 700px;
  }
  #main-about h3 {
    margin-left: 35px;
  }
  section h1 {
    color: white;
    margin-top: 60px;
    width: 400px;
    height: 100px;
    overflow: hidden;

    animation: typing 3s steps(12) infinite alternate-reverse;
  }

  /*          main-informations per desktop        */
  #main-informations {
    display: grid;
    grid-template-columns: 300px 300px 500px;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-end;
    gap: 0;
    height: 400px;
    overflow: hidden;
  }
  .informations-cards {
    grid-row: 2/3;
  }
  .p-informations {
    width: 650px;
    padding-top: 60px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  /*           main-portfolio per desktop         */
  #main-portfolio {
    padding-top: 15px;
  }

  .portolio-list1 li {
    display: inline-block;
    margin: 5px 10px;
    transition: all 300ms;
    padding: 15px;
  }

  .portolio-list1 li:first-child {
    background-color: #688ce8;
  }
  .portolio-list1 li:hover {
    background-color: #688ce8;
  }
  #main-portfolio p {
    color: white;
  }
  .img img {
    display: inline-block;
    /* width: 600px; */
  }

  .img:first-child {
    grid-column: 4/12;
  }
  .img:nth-child(2) {
    grid-column: 4/8;
  }
  .img:nth-child(3) {
    grid-column: 9/12;
  }
  /*          main-pricing per desktop           */
  #main-pricing {
    height: 1000px;
  }
  #main-pricing {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 600px;
    grid-template-columns: 150px 200px 340px 340px 340px;
  }
  .container-pricing-card {
    width: 300px !important;
    grid-row: 3/5;
  }
  .pricing-content ul li {
    font-size: 11px;
  }
  .pricing-nmes {
    box-shadow: 20px 20px 30px 0px black;
    grid-column: 4/5;
    transform: scale(1.1);
  }
  .pricing-nfund {
    grid-column: 5/6;
  }
  .pricing-nfillim {
    grid-column: 3/4;
  }

  #main-pricing .h3-shi {
    margin-left: 30px;
  }
  .pricing-p {
    color: white;
    width: 700px;
    grid-column: 3/5;
    font-size: 25px;
  }
  .pricing-p p {
    margin-bottom: 10px;
  }
  .pricing-content li {
    width: 100px;
    margin-right: 150px;
  }
  .pricing-content span {
    position: relative;
    left: 160px;
  }

  /*                    main-blog per desktop          */
  #main-blog {
    height: 800px;
  }
  #main-blog {
    height: 700px !important;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 300px 500px 500px;
    grid-template-rows: 90px 100px 0px 400px 100px 100px;
  }
  .img-blog {
    overflow: hidden;
  }

  .img-blog img {
    background-size: cover;

    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    object-fit: cover;
  }
  .img-blog img:hover {
    transform: scale(1.1);
  }
  #main-blog h3 {
    margin-left: 30px;
  }
  .blog-img1 {
    grid-row: 2/5;
    grid-column: 2/3;
  }
  .blog-img2 {
    grid-row: 2/5;
    grid-column: 3/4;
  }
  .button-blog {
    margin-top: 20px;
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .img-blog img {
    width: 400px;
    object-fit: cover;
    height: 320px;
  }
  /*                  main-contact per desktop          */
  #main-contact {
    color: white;
    display: flex;
    flex-direction: column;
    height: 600px;

    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 90px 100px 0px 300px 100px 100px;
  }
  .contact-form {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  #main-contact h3 {
    margin-left: 30px;
  }
  #main-contact > p {
    font-size: 25px;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .contact-paragraf {
    grid-column: 3/4;
    grid-row: 3/5;
  }

  /*             fundi per desktop             */
}

.logo {
  display: inline-block;
}
li a {
  transition: all 300ms;
}
.navbar li a:hover {
  color: #688ce8;
}
section h1 {
  color: white;
  margin-top: 60px;
  width: 400px;
  height: 130px;
  overflow: hidden;
  animation: typing 3s steps(12) infinite alternate-reverse;
}

/*       main-about        */

section a i:hover {
  opacity: 0.6;
}
.cards {
  box-shadow: 3px 5px 5px 2px black;
  width: 250px;
  height: 280px;
  background-color: var(--light-blue);
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.cards p {
  position: relative;
  top: 100px;
  margin-left: 10px;
}
.cards h2 {
  position: relative;
  top: 50px;
  margin-left: 10px;
}
.cards:nth-child(3) {
  background-color: #496ecb;
}
.cards:nth-child(4) {
  background-color: #3758aa;
}

main h3 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 3px;
}
.carousel-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.carousel-content::-webkit-scrollbar-track {
  height: 1px;
}

/* Handle */
.carousel-content::-webkit-scrollbar-thumb {
  background: white;
}

#main-about p {
  color: white;
}
/*       main-informaitons     */
#main-informations {
  background-color: var(--dark-blue);
}
.p-informations,
.informations-cards {
  color: white;
}
.informations-cards {
  background-color: var(--light-blue);
  text-align: center;
  height: 130px;
  width: 300px;

  padding: 30px;
}
.informations-cards:nth-child(3) {
  background-color: #496ecb;
}
.informations-cards:nth-child(4) {
  background-color: #3758aa;
}

/*       main-porfolio        */
#main-portfolio {
  background-color: var(--dark-grey);
}
.div-hover {
  background-color: #151c28;
  width: 140px;
  padding: 10px;
  transform: translateY(-92px);
  position: relative;
  left: -140px;

  transition: all 300ms;
}
.img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.div-hover {
  color: white;
}
.img img:hover ~ .div-hover {
  left: 0;
}
/*         main-pricing         */
#main-pricing {
  background-color: var(--dark-blue);
  padding-top: 30px;
}
.container-pricing-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 550px;
  margin-top: 30px;
  background-color: var(--light-blue);
}
.header-pricing {
  text-align: center;
  color: white;
  background-color: #10141b;
  width: 100%;
  margin-bottom: 10px;
  line-height: 40px;
}
.pricing-content span {
  color: white;
}
.pricing-content span:nth-child(2) {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.pricing-content span:nth-child(1) {
  font-size: 20px;
  margin-left: 25px;
}
.pricing-content ul {
  list-style: none;
  color: white;
}
.pricing-content li {
  margin-top: 15px;
}
.button-pricing .button-chooseNow {
  text-decoration: none;

  color: white;
}
.button-pricing {
  text-align: center;
  margin-top: 65px;
  background-color: #10141b;
  width: 100%;
  padding-top: 25px;
  height: 70px;
  position: relative;
  padding-bottom: 50px;
}
.button-chooseNow {
  display: inline-block;
  position: relative;
  line-height: 30px;
}
.button-chooseNow:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}
.button-chooseNow:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.button-chooseNow:hover {
  color: var(--light-blue);
}

/*             main blog             */

#main-blog {
  padding-top: 15px;
  background-color: var(--dark-grey);
  height: 500px;
}
.div-p-blog p {
  color: white;
  font-weight: 700;
  margin-top: 20px;
}
.button-blog .Allstories-button {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: white;
  line-height: 30px;
}
.Allstories-button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}
.Allstories-button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.Allstories-button:hover {
  color: var(--light-blue);
}
/*                main-contact             */
#main-contact {
  padding-top: 15px;
}
#main-contact input,
textarea {
  color: white;
  border-bottom: 2px solid #cfd6e3;
  padding-left: 3px;
  outline: none;
  background-color: transparent;
}
.contact-form input,
textarea {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #cfd6e3;
  margin-bottom: 20px;
  padding: 20px;
}
.container-input {
  position: relative;
}
.label {
  position: absolute;
  left: 0;
  bottom: 35px;
  font-size: 17px;
  color: #cfd6e3;
  transition: all 300ms;

  padding: 0 2px;
}
.text-input {
  transition: all 300ms;
  font-size: 15px;
  color: white;
}
.text-input:focus + .label,
.filled {
  top: -10px;
}
#main-contact {
  background-color: var(--dark-blue);
}

footer {
  height: 200px;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-icons {
  cursor: pointer;
  color: white;
  font-size: 30px;

  transition: all 4s;
}
.footer-icons i:hover {
  color: var(--light-blue);
  transform: scale(1.2);
}
.footer-icons i {
  margin: 30px 20px;
}
.footer-p {
  color: #cfd6e3;
}
.footer-p span:hover {
  cursor: pointer;
  color: var(--light-blue);
}

/* per mobile */
@media (max-width: 576px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  label i {
    font-size: 30px;
    color: white;
    margin-right: 20px;
  }
  .logo {
    margin-left: 20px;
  }
  .ul-navbar:hover a {
    color: #575757 !important;
  }
  .ul-navbar:hover a:hover {
    color: var(--light-blue) !important;
  }

  .navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 102px;
    height: 210px;
    background-color: #10141b;
    display: none;
  }
  label i {
    cursor: pointer;
  }

  .toggle-menu:checked + nav {
    display: block;
  }

  .toggle-menu:not(:checked) ~ nav {
    display: none;
  }

  li a {
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 300ms;
  }

  li a {
    color: white;
    text-decoration: none !important;
  }
  li {
    margin-top: 10px;
  }
  .ul-navbar {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* services */
  .sections {
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  #main-services {
    display: grid;
    grid-template-rows: 1fr;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-blue);
  }
  section h1 {
    font-size: 35px;
    margin-left: 50px;
  }
  section a i {
    color: white;
    font-size: 70px;
  }
  /* main-about */
  .carousel-content {
    scroll-snap-type: x proximity;
    overflow: auto;
    display: flex;

    width: 500px;
    gap: 10px;
  }
  #main-about {
    background-color: #1b212c;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
  }

  #main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .carousel-content {
    width: 400px;
    height: 200px;
  }

  .carousel .item {
    scroll-snap-align: start;
  }
  .item img {
    height: 170px;
    width: 300px;
    object-fit: cover;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }

  /* main-infomations */
  #main-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
  }
  .p-informations {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  /* main-portfolio */
  #main-portfolio {
    padding-top: 30px;
  }
  #main-portfolio h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  #main-portfolio p {
    color: white;
  }
  #main-portfolio a {
    display: inline-block !important;
  }
  .portfolio-images img {
    width: fit-content;
  }
  .portfolio-images img:nth-child(1) {
    width: 460px;
  }
  .portfolio-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .portolio-list1 li {
    display: inline-block;
    margin: 30px;
    transition: all 300ms;
    padding: 10px;
  }
  .portolio-list1 li:first-child {
    background-color: #688ce8;
  }
  .portolio-list1 li:hover {
    background-color: #688ce8;
  }

  /* main-pricing  */
  #main-pricing {
    height: 2060px;
  }
  .container-pricing-card {
    width: 550px;
    margin-top: 40px;
  }
  #main-pricing > h3 {
    text-align: center;
  }
  .pricing-p {
    display: grid;
    color: white;

    grid-template-rows: 1fr 1fr;
  }
  .pricing-p p {
    margin-top: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #main-pricing:nth-child(6) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*             main blog             */
  #main-blog {
    padding-top: 15px;
    background-color: var(--dark-grey);
    height: 1100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 420px 470px;
  }
  #main-blog h3 {
    text-align: center;
  }
  .img-blog {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .img-blog img {
    background-size: cover;

    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    object-fit: cover;
    width: 550px;
  }
  .img-blog img:hover {
    transform: scale(1.1);
  }
  .div-p-blog {
    margin-top: 20px;
  }
  .Allstories-button {
    margin-top: 30px;
    margin-left: 4px;
  }
  /*                main-contact              */
  #main-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 350px 100px;
    height: 700px;
    background-color: var(--dark-blue);
  }
  #main-contact h3 {
    text-align: center;
  }
  #main-contact p {
    position: relative;
    color: #cfd6e3;
  }
  @keyframes typing {
    from {
      width: 0ch;
    }
    to {
      width: 10ch;
    }
  }
}
